<table id="customers">
    <tr>
        <th colspan="5">نوم او تشریح</th>
        @*<th>فی واحد قیمت</th>*@
        <th>مجموعی قیمت</th>
        <th>ملاحضه</th>
    </tr>
    <tr>
        <td colspan="5"><input type="text" name="D_Name1" class="form-control" /></td>
        <td><input type="number" class="form-control" name="D_TotalPrice1" id="D_totalPrice1" /></td>
        <td><input type="text" class="form-control" name="D_Comment1"/></td>

    </tr>

    <tr>
        <td colspan="5"><input type="text" name="D_Name2" class="form-control" /></td>
        <td><input type="number" class="form-control" name="D_TotalPrice2" id="D_totalPrice2" /></td>
        <td><input type="text" class="form-control" name="D_Comment2" /></td>

    </tr>
    <tr>
        <td colspan="5"><input type="text" name="D_Name3" class="form-control" /></td>
        <td><input type="number" class="form-control" name="D_TotalPrice3" id="D_totalPrice3" /></td>
        <td><input type="text" class="form-control" name="D_Comment3" /></td>

    </tr>

</table>
