<table id="customers" name="sakhtmaneMawad">
    <tr>
        <th colspan="2">نوم او تشریح</th>
        <th colspan="2">واحد</th>
        <th>تعداد</th>
        <th>فی واحد قیمت</th>
        <th>مجموعی قیمت</th>
        <th>ملاحضه</th>
    </tr>
    
    <tr>
        <input type="hidden" name="A_Name1" value="بولډر" />
        <input type="hidden" name="A_Unit1" value="متر مکعب" />
        <td colspan="2">بولډر</td>
        <td colspan="2">متر مکعب</td>
        <td><input type="number" class="form-control" name="A_Quantity1" id="A_quantity1" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit1" id="A_pricePerUnit1" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice1','A_quantity1');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice1" id="A_totalPrice1" /></td>
        <td><input type="text" class="form-control" name="A_Comment1" /></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name2" value="کرش ناخودی" />
        <input type="hidden" name="A_Unit2" value="متر مکعب" />
        <td colspan="2">کرش ناخودی</td>
        <td colspan="2">متر مکعب</td>
        <td><input type="number" class="form-control" name="A_Quantity2" id="A_quantity2" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit2" id="A_pricePerUnit2" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice2','A_quantity2');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice2" id="A_totalPrice2" /></td>
        <td><input type="text" class="form-control" name="A_Comment2"/></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name3" value="کرش بادامی" />
        <input type="hidden" name="A_Unit3" value="متر مکعب" />
        <td colspan="2">کرش بادامی</td>
        <td colspan="2">متر مکعب</td>
        <td><input type="number" class="form-control" name="A_Quantity3" id="A_quantity3" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit3" id="A_pricePerUnit3" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice3','A_quantity3');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice3" id="A_totalPrice3" /></td>
        <td><input type="text" class="form-control" name="A_Comment3"/></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name4" value="ریګ" />
        <input type="hidden" name="A_Unit4" value="متر مکعب" />
        <td colspan="2">ریګ</td>
        <td colspan="2">متر مکعب</td>
        <td><input type="number" class="form-control" name="A_Quantity4" id="A_quantity4" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit4" id="A_pricePerUnit4" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice4','A_quantity4');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice4" id="A_totalPrice4" /></td>
        <td><input type="text" class="form-control" name="A_Comment4" /></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name5" value="سیمنت" />
        <input type="hidden" name="A_Unit5" value="بوجی" />
        <td colspan="2">سیمنت</td>
        <td colspan="2">بوجی</td>
        <td><input type="number" class="form-control" name="A_Quantity5" id="A_quantity5" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit5" id="A_pricePerUnit5" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice5','A_quantity5');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice5" id="A_totalPrice5" /></td>
        <td><input type="text" class="form-control" name="A_Comment5" /></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name6" value="سیخ" />
        <input type="hidden" name="A_Unit6" value="ټن" />
        <td colspan="2">سیخ</td>
        <td colspan="2">ټن</td>
        <td><input type="number" class="form-control" name="A_Quantity6" id="A_quantity6" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit6" id="A_pricePerUnit6" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice6','A_quantity6');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice6" id="A_totalPrice6" /></td>
        <td><input type="text" class="form-control" name="A_Comment6" /></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name7" value="اډمیکسچر" />
        <input type="hidden" name="A_Unit7" value="لیټر" />
        <td colspan="2">اډمیکسچر</td>
        <td colspan="2">لیټر</td>
        <td><input type="number" class="form-control" name="A_Quantity7" id="A_quantity7" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit7" id="A_pricePerUnit7" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice7','A_quantity7');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice7" id="A_totalPrice7" /></td>
        <td><input type="text" class="form-control" name="A_Comment7" /></td>

    </tr>
    <tr>
        <input type="hidden" name="A_Name8" value="اډمیکسچر" />
        <input type="hidden" name="A_Unit8" value="موټر" />
        <td colspan="2">(مواد فلینګ) خاوره</td>
        <td colspan="2">موټر</td>
        <td><input type="number" class="form-control" name="A_Quantity8" id="A_quantity8" /></td>
        <td><input type="number" class="form-control" name="A_PricePerUnit8" id="A_pricePerUnit8" onkeyup="calculateTotalPrice(this.value, 'A_totalPrice8','A_quantity8');" /></td>
        <td><input type="text" class="form-control" disabled name="A_TotalPrice8" id="A_totalPrice8" /></td>
        <td><input type="text" class="form-control" name="A_Comment8" /></td>

    </tr>
</table>
